:root {
  --bg-light: #ffffff;
  --bg-dark: #0a0a0a;
  --text-light: #000000;
  --text-dark: #ffffff;
  --primary: #ffcc0d; /* Yellow */
  --accent: #002147; /* Navy Blue */
}

html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background 0.3s, color 0.3s;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

header {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--bg-light);
  color: var(--accent);
}

.banner {
  max-width: 20%;
  height: auto;
  margin-bottom: 1rem;
}

#searchInput {
  padding: 0.5rem;
  width: 50%;
  max-width: 400px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#toggleMode {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#toggleMode:hover {
  background-color: var(--primary);
  color: #000;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.card {
  background-color: #fff;
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card a {
  color: var(--accent);
  text-decoration: none;
}

.card:hover {
  transform: scale(1.02);
}

body.dark-mode .card {
  background-color: #1c1c1c;
  color: var(--text-dark);
  border-color: var(--primary);
}

/* Footer styling */
footer {
  position: relative;
  top: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #000;
  color: var(--primary);
  margin-top: auto;
}

footer .social-links {
  margin-top: 0.5rem;
}

footer .social-links a {
  color: var(--primary);
  text-decoration: none;
  margin: 0 0.6rem;
  font-weight: bold;
  transition: color 0.3s;
}

footer .social-links a:hover {
  color: #fff;
}
